.plugin-notice {
	@include plugin-font-ui-neg('xlarge', 'normal');

	margin: 16px 0;
	padding: 8px 16px;

	color: $plugin-palette-color-white;
	background: $plugin-palette-background-almost-black;
	border-radius: $plugin-border-radius-med;
	box-shadow: 0 5px 17px rgba(0, 0, 0, 0.2), 0 2px 7px rgba(0, 0, 0, 0.15);

	&--error {
		background: $plugin-palette-background-red;
	}
	&--warning {
		background: $plugin-palette-background-blue;
	}
	&--success {
		background: $plugin-palette-background-green;
	}

	&--floating {
		animation-name: plugin-floating-notice;
		animation-duration: 5s;
		animation-fill-mode: forwards;
		cursor: pointer;
		display: table;
		margin: 16px auto;
		text-align: center;
	}
	&--3000 {
		animation-duration: 3s;
	}
	&--10000 {
		animation-duration: 10s;
	}
}

@keyframes plugin-floating-notice {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 1;
	}

	90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
