.iif-form-button {
	cursor: pointer;
	white-space: nowrap;
	display: inline-block;
	flex-shrink: 0;
	height: 30px;
	margin: 1px 0 1px 8px;
	padding: 5px 16px 5px 16px;

	text-decoration: none;
	box-sizing: border-box;

	border: 2px solid transparent;
	border-radius: $plugin-border-radius-large;
	outline: none;

	@include plugin-font-ui-neg('small', 'medium');
	line-height: 16px;

	&:focus {
		outline: none;
	}

	//Primary
	&--primary {
		color: $plugin-palette-color-white;
		background-color: $plugin-palette-background-blue;

		&:enabled:active,
		&:enabled:not(:hover):focus {
			border: 2px solid $plugin-palette-background-darker-blue;
		}

		&:disabled {
			background-color: $plugin-palette-background-muted-black;
		}
	}

	//Primary Destructive
	&--primary-destructive {
		color: $plugin-palette-color-white;
		background-color: $plugin-palette-background-red;

		&:enabled:active,
		&:enabled:not(:hover):focus {
			border: 2px solid $plugin-palette-color-black-muted;
		}

		&:disabled {
			opacity: 0.4;
		}
	}

	//Secondary
	&--secondary {
		color: $plugin-palette-color-black-dimmed;
		border: 1px solid $plugin-palette-color-black-dimmed;
		background-color: $plugin-palette-background-white;

		&:enabled:active,
		&:enabled:not(:hover):focus {
			padding: 4px 15px 4px 15px;

			border: 2px solid $plugin-palette-border-blue;
		}

		&:disabled {
			color: $plugin-palette-color-black-muted;
			border: 1px solid $plugin-palette-color-black-muted;
		}
	}

	&--destructive,
	&--secondary-destructive {
		color: $plugin-palette-color-red;
		border: 1px solid $plugin-palette-border-red;
		background-color: $plugin-palette-background-white;

		&:enabled:active,
		&:enabled:not(:hover):focus {
			padding: 4px 15px 4px 15px;

			border: 2px solid $plugin-palette-border-red;
		}

		&:disabled {
			opacity: 0.4;
		}
	}

	// Icon
	svg {
		display: inline-block;
		font-size: 12px;
		line-height: 1em;
		vertical-align: -0.125em;
		margin: 0;
		position: relative;
		left: -4px; // assuming button is before text
	}
}

a.iif-form-button {
	display: block;
	float: right;
	line-height: 18px;
}
