// Based on figma-plugin-ds
@import 'rotation'; // Imports $rotation as array of colors / strings

//font-stack
$plugin-font-stack: 'Inter', sans-serif;

//font-size
$plugin-font-size-small: 11px;
$plugin-font-size-medium: 12px;
$plugin-font-size-large: 13px;
$plugin-font-size-xlarge: 14px;
$plugin-font-size-xxlarge: 16px;

//font-weight
$plugin-font-weight-normal: 400;
$plugin-font-weight-medium: 500;
$plugin-font-weight-bold: 600;

//lineheight
$plugin-font-lineheight: 16px; //For 11px, 12px type
$plugin-font-lineheight-large: 24px; //13px, 14px, 16px

//letterspacing
$plugin-font-letterspacing-pos-small: 0.005em;
$plugin-font-letterspacing-neg-small: 0.01em;
$plugin-font-letterspacing-pos-medium: 0;
$plugin-font-letterspacing-neg-medium: 0.005em;
$plugin-font-letterspacing-pos-large: -0.0025em;
$plugin-font-letterspacing-neg-large: 0.0025em;
$plugin-font-letterspacing-pos-xlarge: -0.001em;
$plugin-font-letterspacing-neg-xlarge: -0.001em;

// Colors
$plugin-palette-blue: #18a0fb;
$plugin-palette-darker-blue: #0082da;
$plugin-palette-red: #f24822;

// Content on white background
$plugin-palette-color-black: #000; // Content color
$plugin-palette-color-black-dimmed: rgba(
	0,
	0,
	0,
	0.8
); // Slightly dimmed content color
$plugin-palette-color-black-muted: rgba(0, 0, 0, 0.3); // Muted content color
$plugin-palette-color-link: $plugin-palette-blue;
$plugin-palette-color-link-hover: $plugin-palette-darker-blue;
$plugin-palette-color-red: #f24822; // Error text on white background

$plugin-palette-background-white: #fff; // Content background
$plugin-palette-background-darker-white: #fbfbfb; // Panel background
$plugin-palette-border-grey: #f0f0f0; // Panel border
$plugin-palette-border-darker-grey: #e5e5e5; // Active button border
$plugin-palette-border-blue: $plugin-palette-blue; // Panel hover
$plugin-palette-border-red: #f24822; // Error message border
$plugin-palette-background-darker-white-borderless: #f0f0f0; // Panel without border
$plugin-palette-background-hover: #ececec; // Button hover background
$plugin-palette-background-selected: #edf5fa; // Selected content background
$plugin-palette-background-selected-borderless: #dbebf7; // Selected content background
$plugin-palette-background-notice: #ffffc0; // Yellow background for notices

// White on colored background
$plugin-palette-color-white: #fff; // Content on colored background
$plugin-palette-color-white-muted: rgba(255, 255, 255, 0.4); // Muted white text
$plugin-palette-background-medium-black: #333; // Menu background
$plugin-palette-background-almost-black: #222; // Two level menu background, notice
$plugin-palette-background-full-black: #000; // Full black background
$plugin-palette-background-dimmed-black: #777; // Extra buttons
$plugin-palette-background-muted-black: #b3b3b3; // Disabled buttons
$plugin-palette-background-blue: $plugin-palette-blue; // Button background
$plugin-palette-background-darker-blue: $plugin-palette-darker-blue; // Active button background
$plugin-palette-background-red: #f24822; // Error message background
$plugin-palette-background-green: #00ad64; // Error message background

// Rotation backgrounds
$plugin-palette-background-rotation-blue: $plugin-palette-darker-blue; // Blue background in rotation
$plugin-palette-background-colored-overlay: rgba(255, 255, 255, 0.1);

// Slightly modified blue background, used for samples in collections list
$plugin-palette-background-rotation: $rotation;
$plugin-palette-background-rotation-total: length(
	$plugin-palette-background-rotation
);

// Border radius
$plugin-border-radius-small: 2px;
$plugin-border-radius-med: 5px;
$plugin-border-radius-large: 6px;

// Buttons
$plugin-button-active-shadow: 0 0 0 2px $plugin-palette-border-blue inset;
$plugin-simple-focus-shadow: 0 0 0 1px $plugin-palette-border-blue;

// Alignment
$plugin-align-box-size: 61px;
$plugin-align-input-width: 120px;
$plugin-align-block-width: $plugin-align-box-size + 2px + 8px +
	$plugin-align-input-width;

// Collections list
$plugin-collection-border-width: 1px; // Collection border
$plugin-collection-stats-width: 80px + $plugin-collection-border-width; // Stats block width
$plugin-collection-min-width: 180px; // Content block min-width

// Icons
$plugin-icon-grid-size: 48px;
$plugin-icon-grid-compact-size: 32px;
$plugin-input-icon-size: 12px;
$plugin-input-icon-padding: 18px;

// Layer
$plugin-layer-height: 32px;
$plugin-layer-padding: 12px; // Figma uses 24px. Changed for more compact layout
$plugin-layer-icon-width: 16px;
