// Container
.iff-filters {
}

// Block
.iif-block--filters {
	margin: 7px -1px;
	padding: 1px;
	max-height: 108px;
	overflow-y: auto;
	transition: max-height 0.3s ease;

	// Header text
	.iif-filters-header {
		@include plugin-font-ui-pos('medium', 'normal');
		margin: 8px 1px 4px;
		padding: 0;
	}

	&--active,
	&--collections {
		max-height: 288px; /* 108 + 30 * 6 */
	}

	&:focus {
		box-shadow: 0 0 1px $plugin-palette-background-rotation-blue;
		outline: none;
	}

	// Disable header for categories if no other filters are available
	&--tags:only-child {
		.iif-filters-header {
			display: none;
		}
	}
}

// Link
.iif-filter,
a.iif-filter {
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none !important;
	color: $plugin-palette-color-white;
	white-space: nowrap;
	margin: 0 8px 6px 0;
	padding: 3px 7px;
	background: $plugin-palette-background-rotation-blue;
	border: 1px solid $plugin-palette-background-rotation-blue;
	//border-radius: $plugin-border-radius-small;
	@include plugin-font-ui-pos('small', 'normal');
	cursor: pointer;

	@media (max-width: 600px) {
		padding: 3px 5px;
	}

	&:hover,
	&:active {
		background: $plugin-palette-background-white;
		border-color: $plugin-palette-border-blue;
		color: $plugin-palette-color-black;
	}

	&:active,
	&:focus {
		box-shadow: 0 0 0 1px $plugin-palette-border-blue;
	}
	&:focus {
		border-color: $plugin-palette-color-white;
		outline: none;
	}
	&:active {
		border-color: $plugin-palette-border-blue;
	}

	@for $i from 1 to $plugin-palette-background-rotation-total + 1 {
		&--#{$i} {
			background: nth($plugin-palette-background-rotation, $i);
			border-color: nth($plugin-palette-background-rotation, $i);
			&:hover {
				border-color: nth($plugin-palette-background-rotation, $i);
			}
			&:active,
			&:focus {
				box-shadow: 0
					0
					0
					1px
					nth($plugin-palette-background-rotation, $i);
			}
		}
	}

	&--unselected {
		color: $plugin-palette-color-black-dimmed;
		background: $plugin-palette-background-white;
		border-color: $plugin-palette-border-darker-grey;
		&:hover {
			background: $plugin-palette-background-selected;
			border-color: $plugin-palette-border-blue;
			color: $plugin-palette-color-black;
		}
		&:active,
		&:focus {
			border-color: $plugin-palette-border-blue;
			box-shadow: 0 0 0 1px $plugin-palette-border-blue;
		}
	}

	&:disabled {
		color: $plugin-palette-color-black-muted;
		background: transparent;
		border-color: transparent;
	}

	&--selected {
		background: $plugin-palette-background-selected-borderless;
		border-color: $plugin-palette-background-selected-borderless;
		color: $plugin-palette-color-black;
		&:hover {
			background: $plugin-palette-background-selected;
			border-color: $plugin-palette-border-blue;
			color: $plugin-palette-color-black;
		}
		&:active,
		&:focus {
			border-color: $plugin-palette-border-blue;
			box-shadow: 0 0 0 1px $plugin-palette-border-blue;
		}
	}
}
