.iif-icons--grid {
	border: 1px solid $plugin-palette-border-grey;
	background: $plugin-palette-background-white;

	&.iif-icons--selecting {
		border-style: dashed;
	}

	.iif-icon-loading {
		font-size: 12px;
		line-height: 1em;
		opacity: 0.3;
	}

	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 2px;
		box-sizing: border-box;
		list-style: none;
	}

	.iif-icon-grid {
		list-style: none;
		margin: 3px;
		padding: 0;
		width: $plugin-icon-grid-size + 2px;
		height: $plugin-icon-grid-size + 2px;
		box-sizing: content-box;

		svg {
			display: block;
			+ svg {
				display: none;
			}
		}

		a {
			display: block;
			font-size: $plugin-icon-grid-size;
			width: 1em;
			height: 1em;
			border: 1px solid transparent;
			cursor: pointer;
			color: $plugin-palette-color-black-dimmed;
			text-decoration: none;
		}
	}
}

.iif-icons--selecting {
	.iif-icon-grid {
		a {
			border-style: dashed;
			border-color: $plugin-palette-border-darker-grey;
			position: relative;

			svg + svg {
				display: block;
				position: absolute;
				right: -1px;
				top: -1px;
				font-size: 12px;
				border: 1px solid $plugin-palette-border-blue;
				background: $plugin-palette-background-white;
				box-shadow: inherit;
			}
		}
	}
}

.iif-icons--grid {
	.iif-icon-grid {
		a {
			&:hover,
			&:active {
				background: $plugin-palette-background-white;
				border-color: $plugin-palette-border-blue;
				color: $plugin-palette-color-link-hover;
				svg + svg {
					border-color: $plugin-palette-border-blue;
				}
			}

			&:active,
			&:focus {
				box-shadow: $plugin-simple-focus-shadow;
				outline: none;
				border-style: solid;
				svg + svg {
					border-color: $plugin-palette-border-blue;
				}
			}
		}

		&--selected {
			a {
				background: $plugin-palette-background-selected-borderless;
				border-color: $plugin-palette-background-selected-borderless;
				color: $plugin-palette-color-black;
				cursor: grab;

				svg + svg {
					border-color: $plugin-palette-border-blue;
					background: $plugin-palette-background-selected-borderless;
				}

				&:hover,
				&:active {
					background: $plugin-palette-background-selected;
					border-color: $plugin-palette-border-blue;
					color: $plugin-palette-color-link-hover;
				}
			}
		}

		&--loading {
			a {
				background: transparent;
				border-color: transparent;
			}
		}
	}

	@media (max-width: 600px) {
		.iif-icon-grid {
			width: $plugin-icon-grid-compact-size + 2px;
			height: $plugin-icon-grid-compact-size + 2px;
			a {
				font-size: $plugin-icon-grid-compact-size;
			}
		}
	}
}
