.iif-pagination {
	margin: 8px 0 0;
	padding: 0 32px;
	text-align: center;
	position: relative;

	span,
	.iif-page {
		display: inline-block;
		@include plugin-font-ui-pos('medium', 'normal');
		padding: 6px 8px;
		box-sizing: border-box;
		height: $plugin-font-lineheight + 12px;
	}

	span {
		color: $plugin-palette-color-black-muted;
		pointer-events: none;
	}

	.iif-page {
		margin: 2px;
		min-width: 24px;
		text-align: center;
		border-radius: $plugin-border-radius-small;
		text-decoration: none;
		color: $plugin-palette-color-black;

		&:hover {
			background-color: $plugin-palette-background-hover;
		}

		&:focus {
			outline: none;
		}
		&:active,
		&:not(:hover):focus {
			box-shadow: $plugin-button-active-shadow;
		}

		&--more {
			padding: 6px;
		}

		// Selected page
		&--selected {
			background: $plugin-palette-background-selected-borderless;
			color: $plugin-palette-color-black;
			box-shadow: none !important;
			pointer-events: none;
		}

		// Arrows
		&--arrow {
			position: absolute;
			top: 50%;
			margin-top: -14px;
			height: 28px;
			width: 26px;
			svg {
				display: block;
				position: absolute;
				left: (26px - $plugin-input-icon-size) / 2;
				top: (28px - $plugin-input-icon-size) / 2;
			}
		}
		&--prev {
			left: 0;
			margin-left: 0;
		}
		&--next {
			right: 0;
			margin-right: 0;
		}
	}
}
