.iif-footer-block {
	margin-bottom: 16px;

	&:after {
		content: ' ';
		display: table;
		clear: both;
	}

	// Link used in various custom blocks
	a {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
			color: $plugin-palette-color-link-hover;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}

// Block title
.iif-footer-block > p:first-child {
	@include plugin-font-ui-pos('large', 'bold');
	margin: 8px 0;
	padding: 0;
	color: $plugin-palette-color-black-dimmed;
	position: relative;

	// Arrow before link
	svg {
		display: none;
		font-size: 12px;
		line-height: 1em;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -6px;
	}

	a {
		color: inherit;
		text-decoration: none;
		position: relative;
		margin-right: 12px;
	}
}

.iif-footer-block--collapsed > p:first-child {
	svg {
		display: block;
	}
	a {
		text-decoration: underline;
		color: $plugin-palette-color-link;
		left: 12px;
	}
}

.iif-footer-block > p:first-child {
	a {
		&:hover {
			color: $plugin-palette-color-link-hover;
			text-decoration: underline;
		}

		&:focus {
			outline: none;
			box-shadow: none;
		}

		&:focus:not(:hover) {
			text-decoration: underline;
			box-shadow: $plugin-simple-focus-shadow;
		}
	}
}

// Info block
.iif-footer-block--about {
	.iif-block--info {
		margin-bottom: 16px;
	}
}

// Options block
.iif-footer-options-block {
	position: relative;
	float: left;
	margin: 12px 16px 0 0;
	padding: 16px 8px 8px 8px;
	background: $plugin-palette-background-white;
	border: 1px solid $plugin-palette-border-grey;
	border-radius: $plugin-border-radius-small;

	// Title
	> p {
		@include plugin-font-ui-pos('medium', 'normal');
		position: absolute;
		left: 6px;
		top: -6px;
		line-height: 1em;
		white-space: nowrap;
		color: $plugin-palette-color-black-dimmed;
		background: $plugin-palette-background-white;
		margin: 0;
		padding: 0 6px;
	}

	&:focus-within {
		border: 1px solid $plugin-palette-border-darker-grey;
		> p {
			color: $plugin-palette-color-black;
		}
	}

	// Content
	> div {
		display: flex;
		padding: 0;

		.iif-input-wrapper {
			+ .iif-input-wrapper {
				margin-left: 8px;
			}
		}
	}
}

// Properties container for modern browsers
@supports (display: flex) {
	// Parent of ".iif-footer-options-block"
	.iif-footer-block--props > div {
		display: flex;
		flex-wrap: wrap;
	}

	.iif-footer-options-block {
		float: none;
	}
}
