.iif-footer-options-block-title {
	@include plugin-font-ui-pos('small', 'bold');
	margin: 16px 0 0;
	padding: 0;
	color: $plugin-palette-color-black-dimmed;
}

.iif-footer-options-blocks {
	margin-bottom: 16px;

	&:empty {
		display: none;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}

.iif-footer-options-block {
	position: relative;
	float: left;
	margin: 12px 16px 0 0;
	padding: 16px 8px 8px 8px;
	background: $plugin-palette-background-white;
	border: 1px solid $plugin-palette-border-grey;
	border-radius: $plugin-border-radius-small;

	// Title
	> p {
		@include plugin-font-ui-pos('medium', 'normal');
		position: absolute;
		left: 6px;
		top: -6px;
		line-height: 1em;
		white-space: nowrap;
		color: $plugin-palette-color-black-dimmed;
		background: $plugin-palette-background-white;
		margin: 0;
		padding: 0 6px;
	}

	&:focus-within {
		border: 1px solid $plugin-palette-border-darker-grey;
		> p {
			color: $plugin-palette-color-black;
		}
	}

	// Content
	> div {
		display: flex;
		padding: 0;

		.iif-input-wrapper {
			+ .iif-input-wrapper {
				margin-left: 8px;
			}
		}
	}
}

// For modern browsers
@supports (display: flex) {
	.iif-footer-options-blocks {
		display: flex;
		flex-wrap: wrap;
	}

	.iif-footer-options-block {
		float: none;
	}
}
