.iif-block--footer {
	// Footer is not in content wrapper, so it must have same padding as content
	padding: 0 16px;

	&:last-child {
		padding-bottom: 16px;
	}
}

// Full footer
.iif-footer-full {
	display: flex;
	width: 100%;
	> div:first-child {
		font-size: 160px;
		margin: 8px 0;
	}
	> div:last-child {
		flex-grow: 1;
		margin: 0 0 0 16px;
	}

	@media (max-width: 600px) {
		display: block;
		> div:first-child {
			margin: 16px auto 8px;
			text-align: center;
			svg {
				margin-left: auto;
				margin-right: auto;
			}
		}
		> div:last-child {
			margin: 8px 0;
		}
	}

	// Sample in block mode
	.iif-footer-sample--block {
		svg {
			display: block;
			background: $plugin-palette-background-darker-white;
			box-shadow: 0 0 0 1px $plugin-palette-border-grey;
		}
		a {
			display: block;
			margin: 1px;
			color: inherit;
			cursor: grab;
			text-decoration: none;

			&:hover,
			&:focus {
				color: $plugin-palette-color-link-hover;
				outline: none;
				text-decoration: none;
				svg {
					background: $plugin-palette-background-darker-white;
					box-shadow: 0 0 0 1px $plugin-palette-border-blue;
				}
			}
		}

		p {
			@include plugin-font-ui-pos('small', 'normal');
			text-align: center;
			margin: 4px;
			color: $plugin-palette-color-black-dimmed;
			white-space: nowrap;
			span {
				color: $plugin-palette-color-black-muted;
			}
		}
	}

	// Sample in inline mode
	.iif-footer-sample--inline {
		p {
			@include plugin-font-ui-pos('small', 'normal');
			margin: 0;
			padding: 0 4px;
			color: $plugin-palette-color-black-dimmed;
			border: 1px dotted $plugin-palette-border-grey;
			border-radius: $plugin-border-radius-small;
			min-width: 160px;
			&:hover {
				color: $plugin-palette-color-link-hover;
				background: $plugin-palette-background-darker-white;
				border-color: $plugin-palette-border-darker-grey;
			}
		}
	}
}

// Buttons
.iif-footer-buttons {
	margin: 0;
	padding: 16px;
	text-align: right;

	button:last-child {
		margin-right: 0;
	}
}

.iif-footer-buttons-container {
	// Buttons in normal flow
	padding: 0;
	.iif-footer-buttons {
		padding-top: 0;
	}
}

.iif-footer-buttons-sticky-container {
	// Buttons as sticky
	height: 48px;

	.iif-footer-buttons {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 6px 16px 8px;
		background-color: rgba($plugin-palette-background-darker-white, 0.8);
		border-top: 2px solid $plugin-palette-background-white;

		&:hover {
			background-color: $plugin-palette-background-darker-white;
		}

		button {
			max-width: 240px;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;

			@media (max-width: 600px) {
				max-width: 180px;
				padding-left: 6px;
				padding-right: 6px;
				margin-left: 6px;
			}
		}
	}
}

.iif-footer-notice {
	@include plugin-font-ui-pos('small', 'normal');
	margin: 0 0 16px;
	padding: 8px 12px;
	background-color: $plugin-palette-background-notice;
}
